$color-black: #000000;
$color-white: #FFFFFF;
$color-gray-border: #ECECEC;
$color-gray-dark: #444444;
$color-green-primary: #63D1BB;
$color-green-secondary: #59D5BC;
$color-green-dark-primary: #56C3B2;
$color-green-dark-secondary: #46C1AE;